.header_navbar {
  padding: 15px 0;
}

.container_header {
  padding: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_inner {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.login_btn {
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  transition: .2s;
  margin-left: 20px;
}

.login_btn:hover {
  background: #f6f9fe;
  cursor: pointer;
}

.logo_p {
  color: white;
  font-size: 15px;
  width: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header_search {
  padding: 9px 25px;
}